*{
  margin: 0;
  padding: 0;
  background-color: chartreuse;
}

.cadastro, .cadastro h2, .preencher{
  background-color: green;
}

.cadastro{
  margin-left: 34%;
  margin-top: 5%;
  height: auto;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cadastro h2{
  margin-bottom: 2%;
  color: white;
}

.cadastro button{
  height: 25px;
  width: 250px;
  background-color: rgb(128, 0, 0);
  color: white;
  margin-bottom: 2%;
}

.preencher{
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preencher input{
  background-color: white;
  margin-top: 8%;
  width: 250px;
  height: 25px;
}

.preencher input::placeholder{
  color: black;
}

.listCadastro{
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 5%;
}

.itemCadastro{
  background-color: rgb(212, 180, 180);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.itemCadastro h3{
  background-color: rgb(212, 180, 180);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;
  width: 250px;
}